{% extends "base.html" %}
{% load etiquetas %}
{% load static %}

{% block titulo %} Inicio {% endblock %}

<div class="hero">
    <div class="fadeInDown animated">
        <img class="img-responsive" src="{% static 'resource/main-bg-img.jpg' %}" alt="">
    </div>
    {% if form.non_field_errors %}
        <div class="centerme alert alert-danger">
            <p>Usuario/Contraseña Inválido</p>
        </div>
    {% endif %}
</div>