{% load etiquetas %}
<div class="col-sm-12 text-center mb-4">
    <h3 class="mt-2">
        Saludos! <a href="{% url 'detalle-consolidador' %}?nombre={{request.user.first_name}}">{{request.user.first_name}}</a>
    </h3>
</div>
<div class="col-sm-6 col-md-3">
    <ul class="list-group">
        <li class="list-group-item"><a  href="{% url 'ver_creyentes' %}?idc={{request.user.first_name}}">Creyentes Asignados</a></li>
        {% if request.user|has_group:"lider"%}
            <li class="list-group-item"><a href={% url 'ver_consolidadores' %}>Sus Consolidadores</a></li>
            <li class="list-group-item"><a href="{% url 'ver_creyentes' %}?lider_id={{request.user.first_name|getLiderId}}">Creyentes En Su Red</a></li>
        {% endif %}
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><a href={% url 'password_reset' %}>Cambiar Clave</a></li>
        <li class="list-group-item"><a  href="{% url 'logout' %}?next=/inicio">Cerrar Sesión</a></li>
    </ul>
</div>
<div class="col-sm-6 col-md-3">
    <div class="panel rounded bg-info">
        <div class="panel-heading text-center">
            Procedimientos
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item disabled"><span class="badge badge-info">Pronto!</span><br>Post-Llamado</li>
                <li class="list-group-item disabled"><span class="badge badge-info">Pronto!</span><br>Captura de Datos</li>
                <li class="list-group-item disabled"><span class="badge badge-info">Pronto!</span><br>Seguimiento Parte 1</li>
                <li class="list-group-item disabled"><span class="badge badge-info">Pronto!</span><br>Seguimiento Parte 2</li>
                <li class="list-group-item disabled"><span class="badge badge-info">Pronto!</span><br>Proceso Completado/Interrumpido</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel rounded bg-info">
        <div class="panel-heading text-center">
            Recursos
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item disabled"><span class="badge badge-info">Pronto!</span><br>Estudios</li>
                <li class="list-group-item disabled"><span class="badge badge-info">Pronto!</span><br>Videos</li>
            </ul>
        </div>
    </div>
</div>
{% if request.user|check_access_level:"lider" %}
<div class="col-md-3">
    <div class="panel rounded bg-info">
        <div class="panel-heading text-center">
            Herramientas
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><a href={% url 'xls_report' %}>Reporte Creyentes</a></li>
            </ul>
        </div>
    </div>
</div>
{% endif %}