{% extends 'base.html' %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="panel panel-success">
        <div class="panel-heading">Cambio de Contraseña Exitoso</div>
        <div class="panel-body">
            <p class="text-center">
                El cambio de clave se realizo exitosamente. Puede <a href="{% url 'login' %}">Iniciar Sesión</a> ahora.
            </p>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>

{% endblock %}