{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  {% if validlink %}
<h3 class="text-center">Cambiar Clave</h3>
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <form method="post">
  {% csrf_token %}
    <!--<p class="alert alert-danger">{{ hidden_field.errors }}</p>
    <p class="alert alert-danger">{{ form.non_field_errors }}</p>
-->

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Cambiar Clave</button>
</form>
</div>
<div class="col-sm-3"></div>
{% else %}
<p>
    El link para el cambio de clave es invalido, posiblemente por que ya se usó o
    por que ya expiró.
    Por favor, solicite uno nuevo.
</p>
{% endif %}
{% endblock %}