{% extends 'base.html' %}

{% block content %}
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="panel panel-success">
    <div class="panel-heading">Solicitud Enviada...</div>
    <div class="panel-boy">
      <p style="padding: 10px;">
        Le hemos enviado un correo con las instrucciones para cambiar su clave, si hay una cuenta registrada con
        la dirección de correo que introdujo, debería recibir dicho correo en breve.
        <br>
        <br>
        Si no recibe un correo, revise su bandeja de correos no deseados o asegúrese de haber introducido la
        dirección de correo electrónico que le proveyó a personal de soporte de Consolidación.
      </p>
    </div>
</div>
</div>
<div class="col-sm-2"></div>
{% endblock %}