{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="row"></div>
<div class="col-sm-4"></div>
<div class="col-sm-4">
    <form method="post">{% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        {{field|add_class:'form-control'}}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
    {% endfor %}
  <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
</form>
</div>
<div class="col-sm-4"></div>
<!--  <h3>Recuperar Clave</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}



    <button type="submit">Solicitar</button>
  </form>-->
{% endblock %}