{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
	Consolidadores
{% endblock%}
{% block content %}

    <h2>Listado de Consolidadores</h2>
    <div class="table-container">
        <table class="lista"; cellpadding="3"; border="1px solid black">
            <tr align="left"; padding=10,10,10,10;>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th class="hide-500">E-mail</th>
                <th>Personas Consolidando</th>
            </tr>
            {% for consolidador in object_list %}
            <tr>
                <td><a href='/detalles_consolidador/?id={{consolidador.id}}'>{{ consolidador.nombre }}</a></td>
                <td>{{ consolidador.telefono }}</td>
                <td class="hide-500">{{ consolidador.email }}</td>
                <td align="center"><a href='/ver_creyentes/?idc={{consolidador.id}}'>{{ consolidador.consolidando }}</a></td>

            </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
