{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
	Borrar Lider
{% endblock%}
{% block content %}

    <h2>Borrar</h2>
    <form action="" method="post">{% csrf_token %}  
	    <table border="1px solid black">
	        {{form.as_table}}
	    </table>
	    <div id="submit">
	    	<input type="submit" value="Eliminar">
	    </div>
    </form>
    
{% endblock %}