<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% extends "admin/base.html" %}

{% block title %}{{ "Consolidación" }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ 'Administrador de Consolidaciones' }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
