{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block titulo %}
Agregar {{model|title}}
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            let formAdd = this.getElementById('add-form');
            let submitBtn = document.getElementById('save-btn');

            formAdd.onsubmit = function () {
                submitBtn.disabled = true;

                $.ajax({
                    success: function () {
                        toggleSubmitBtn();
                    },
                    error: function () {
                       toggleSubmitBtn();
                    }
                });
            };

            function toggleSubmitBtn() {
                setTimeout(function(){submitBtn.disabled = false}, 3000);
            }
        });
    </script>
{% endblock %}
{% block content %}
    <form class="custom-form col-md-7 col-sm-8 my-4" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <h1 class="text-center">Agregar {{model|title}}</h1>
        {% include "render_fields.html" %}
    <input id="save-btn" class="btn btn-primary offset-md-5 offset-sm-4 offset-5" type="submit" value="Guardar">
    </form>
{% endblock %}