{% extends "base.html" %}
{% load etiquetas %}
{% load static %}
{% block titulo %}
    Actualizar Información
{% endblock titulo %}
{% block content %}
    <form class="custom-form col-md-7 col-sm-8 my-4" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">

            {% if subject == 'creyente' %}
                <h1 class="text-center">Detalles {% include 'info/id_name_a_tag.html' with subject=creyente %}</h1>
                <label for="consolidador">Consolidador:</label>
                <input type="text" name="consolidador" value="{{ creyente.consolidador.nombre }}" id="consolidador" class="form-control" readonly>
            {% else %}
                <h1 class="text-center">Detalles {% include 'info/id_name_a_tag.html' with subject=consolidador %}</h1>
            {% endif %}

            {% include "render_fields.html" %}

            <div class="col-sm-8 offset-sm-2">
                <div class="btn-toolbar">
                    <input class="btn btn-primary form-control" type="submit" value="Actualizar"/>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
