<div class="btn-group hidden-sm-down" role="group">
    <button id="btnGroupBy" type="button" class="btn bg-main dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Agrupar Por
    </button>
    <div class="dropdown-menu bg-main rounded" aria-labelledby="btnGroupBy">
        <a class="dropdown-item bg-main" href="{% url 'group_by' 'actividad' %}">Actividad</a>
        <a class="dropdown-item bg-main" href="{% url 'group_by' 'consolidador' %}">Consolidador</a>
        <a class="dropdown-item bg-main" href="{% url 'group_by' 'fecha_culto' %}">Fecha Actividad</a>
        <a class="dropdown-item bg-main" href="{% url 'group_by' 'estado_civil' %}">Estado Civil</a>
        <a class="dropdown-item bg-main" href="{% url 'group_by' 'sexo' %}">Sexo</a>
        <a class="dropdown-item bg-main" href="{% url 'ver_creyentes' %}">Todos</a>
    </div>
</div>