{% load static %}
{% load etiquetas %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.0">

<nav class="navbar-custom navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">Consolidación</a>

    <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#"  class="nav-link dropdown-toggle" id="dropBuscar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Buscar<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropBuscar">
                        <a class="dropdown-item" href={% url 'buscar_creyente' %}>Creyente</a>
                        <a class="dropdown-item" href={% url 'buscar_consolidador' %}>Consolidador</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#"  class="nav-link dropdown-toggle" id="dropListas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Listados<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropListas">
                        <a class="dropdown-item" href={% url 'ver_creyentes' %}>Creyentes</a>
                        <a class="dropdown-item" href={% url 'ver_consolidadores' %}>Consolidadores</a>
                        <a class="dropdown-item" href={% url 'ver_lideres' %}>Lideres</a>
                    </div>
                </li>
                {% if request.user|check_access_level:"ministerio" %}
                    <li class="nav-item dropdown">
                        <a href="#"  class="nav-link dropdown-toggle" id="dropAgregar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Agregar<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropAgregar">
                            <a class="dropdown-item" href={% url 'add_creyente' %}>Creyente</a>
                            <a class="dropdown-item" href={% url 'add_consolidador' %}>Consolidador</a>
                            <a class="dropdown-item" href={% url 'agregar-ocupacion' %}>Ocupación</a>
                            <a class="dropdown-item" href={% url 'agregar-actividad' %}>Actividad</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href={% url 'logout' %}?next=/inicio/>
                        Salir <img src="{% static 'icons/glyphicons-388-log-out.png' %}" alt="">
                    </a>
                </li>
            {% else %}
                <form class="form-inline my-2 my-md-0" id="form-login" onsubmit="normalizeUserName()" action="{% url 'login' %}" method="post" accept-charset="utf-8">{% csrf_token %}
                    <input id="id_username" name="username" type="text" class="form-control"
                           required
                           placeholder="Usuario"
                           onkeyup="this.value = this.value.replace(' ', '');"
                           onblur="this.value = this.value.toLowerCase();" />

                    <input id="id_password" name="password" type="password"
                           required
                           placeholder="Contraseña"
                           class="form-control" />
                    <input type="hidden" name="next" value="{{ next }}" />

                    <input class="btn btn-warning" type="submit" value="Entrar"/>
                </form>
        {% endif %}
        </ul>
    </div>

     <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#mainNavBar"
            aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>