{% if object_list.has_other_pages %}
    <div class="container">
        <nav aria-label="pagination" class="mb-4">
    <ul class="pagination">
      {% if object_list.number > 1 %}
        <li class="page-item">
          <a class="page-link" href="{{prefix}}page=1">Primero</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Primero</span>
        </li>
      {% endif %}

      {% if object_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{{prefix}}page={{ object_list.previous_page_number }}">Anterior</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Anterior</span>
        </li>
      {% endif %}

      {% for page_num in object_list.paginator.page_range %}
        {% if object_list.number == page_num %}
          <li class="page-item active">
            <span class="page-link">
              {{ page_num }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
        {% elif page_num > object_list.number|add:'-3' and page_num < object_list.number|add:'3' %}
          <li class="page-item">
            <a class="page-link" href="{{prefix}}page={{ page_num }}">{{ page_num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if object_list.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{prefix}}page={{ object_list.next_page_number }}">Próximo</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Próximo</span>
        </li>
      {% endif %}

      {% if object_list.number != object_list.paginator.num_pages %}
        <li class="page-item">
          <a class="page-link" href="{{prefix}}page={{ object_list.paginator.num_pages }}">Último</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Último</span>
        </li>
      {% endif %}
    </ul>
  </nav>
    </div>
{% endif %}