<div class="text-center" id="result-list-details">
    {% if q %}
        <input class="btn btn-info btn-xs" type=button value="Volver a Buscar" onClick="javascript:history.go(-1);">
        <p><span>Resultado{{ object_list|length|pluralize}}
        Encontrado{{ object_list|length|pluralize}} Con: <strong>"{{ q }}"</strong> ...</span></p>
    {% endif %}
    <h4>Mostrando del <strong>{{ object_list.start_index }}</strong> al <strong>{{ object_list.end_index }}</strong><br><small> Total: {{ object_list.paginator.count }}</small></h4>
    <h5 {% if aviso %}{% else %}hidden{% endif %} >{{aviso}}</h5>
</div>