{% extends "base.html" %}
{% load static %}
{% load etiquetas %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block scripts %}
    <script>
        $(document).ready(function() {

            this.getElementById('import-file').onchange = function () {
                document.getElementById('import-list-btn').disabled = false;
            };
        });
	</script>
{% endblock scripts %}
{% block titulo %}
	Importar desde Excel
{% endblock %}

{% block content %}
    <div class="row my-3">
        <div class="col-sm-12">
            {% if aviso %}
                <h4 class="alert alert-warning">{{ aviso }}</h4>
            {% endif %}
            <form class="form-inline" method="post" role="form" id="form-actividades" enctype="multipart/form-data">{% csrf_token %}
                <div class="col-sm-12 form-group my-3">
                    <label>Listado:
                        <select id="actividades-list" class="form-control mx-3" name="actividad" required>
                            <option value="0" selected disabled>Seleccione Un Actividad</option>
                            {% for actividad in actividades %}
                                <option value="{{ actividad.id }}">{{ actividad.actividad }}</option>
                            {% endfor %}
                        </select>
                    </label><br>
                    <label for="fecha_actividad">Fecha</label>
                    <input id="fecha_actividad" class="form-control mx-3" type="date" title="Fecha" value="{{0|fecha}}" max="{{0|fecha}}" name="desde">
                </div>
                <div class="col-sm-12 form-group my-3">
                    <label for="import-file">Seleccionar Archivo</label>
                    <br>
                    <input class="form-control mx-3" type="file" id="import-file" name="import-file">
                </div>
                <div class="col-sm-12 my-4">
                    <input id="import-list-btn" class="btn btn-primary" type="submit" value="importar" disabled>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}