{% extends "base.html" %}
{% load static %}
{% load etiquetas %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block scripts %}
    <script>
        $(document).ready(function() {
            // Reset minimum value of the 'hasta' date picker to be the maximum
            // of the date picker 'desde'
            this.getElementById('filtro_desde').onchange = function () {
                document.getElementById('filtro_hasta').min = this.value;
            };

            this.getElementById('filtro_hasta').onchange = function () {
                document.getElementById('filtro_desde').max = this.value;
            };

            let optionRango = document.getElementById('option-rango');
            let optionLider = document.getElementById('option-lider');

            optionLider.style.display = "none";

            document.getElementById('report-by').onchange = function () {
                let option = this[this.selectedIndex].value;

                if (option === 'lider'){
                    optionRango.style.display = "none";
                    optionLider.style.display = "flex";
                }

                if (option === 'rango'){
                    optionLider.style.display = "none";
                    optionRango.style.display = "flex";
                }
            };

            document.getElementById('lideres-list').onchange = function () {
                document.getElementById('lider-list-btn').disabled = false;
            };
        });
	</script>
{% endblock scripts %}
{% block titulo %}
	Exportar a Excel
{% endblock %}

{% block content %}
    <div class="row my-3">
        <div class="col-sm-12">
            <label>Generar Reporte Por:
                <select id="report-by" class="form-control">
                    <option value="rango">Rango de Fecha</option>
                    <option value="lider">Líder</option>
                </select>
            </label>
        </div>
        <div class="col-sm-12">
            {% if aviso %}
                <h4 class="alert alert-warning">{{ aviso }}</h4>
            {% endif %}
            <form class="form-inline" method="post" role="form" id="option-rango">{% csrf_token %}
                <div class="col-sm-12 form-group my-3">
                    <label for="filtro_desde">Desde</label>
                    <input id="filtro_desde" class="form-control mx-3" type="date" title="Desde" value="{{0|fecha}}" max="{{0|fecha}}" name="desde">
                    <label for="filtro_hasta">Hasta</label>
                    <input id="filtro_hasta" class="form-control mx-3" type="date" title="Hasta" value="{{0|fecha}}" max="{{0|fecha}}" name="hasta">
                </div>
                <div class="col-sm-12 my-4">
                    <input class="btn btn-primary" type="submit" value="Exportar">
                </div>
            </form>
            <form class="form-inline" method="post" role="form" id="option-lider">{% csrf_token %}
                <div class="col-sm-12 form-group my-3">
                    <label>Listado:
                        <select id="lideres-list" class="form-control mx-3" name="lider">
                            <option value="0" selected disabled>Seleccione Un Líder</option>
                            {% for lider in lideres %}
                                <option value="{{ lider.id }}">{{ lider.nombre }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="col-sm-12 my-4">
                    <input id="lider-list-btn" class="btn btn-primary" type="submit" value="Exportar" disabled>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}