<!DOCTYPE html>
<html lang="en">
<body>
    <p>{{usuario}} notifica que ya no le esta dando seguimiento a <a href="{{link}}/detalles_creyente/?nombre={{creyente}}">{{creyente}}</a>.</p>
    <p>Consultar las notas para ver las razones anter de proceder a dar la baja.</p>
</body>
</html>