{% load etiquetas %}
<!DOCTYPE html>
<html>
    <body>
        <h1>Favor Notificar Seguimiento</h1>
        <p>{{lider.nombre}}, a continuación un listado de los creyentes que tiene asignados a su red:</p>
        
        <p>Es necesario reportar via la pagina de consolidación el estado de cada creyente. 
            También puede utilizar el botón de "Notificar" a lado del nombre de cada creyente.
        </p>

        <table>
            <tr>
                <th>Creyente</th>
                <th>Consolidador</th>
            </tr>
            {% for creyente in creyentes %}
            <tr>
                <td><a href='{{link}}detalles_creyente/?id={{creyente.id}}'>{{ creyente.nombre }}</a></td>
                <td>{{ creyente.consolidador.nombre }}</td>
            </tr>
            {% endfor %}
        </table>

        
        <p>Recuerde que puede ver su información y creyentes asignados en la 
        <a href='{{link}}inicio'>Página de Consolidación.</a><br>
        En caso que no recuerde sus credenciales o que no las tenga, favor entrar al siguiente link
        <a href="{{link}}pwd_reset">Cambiar Clave</a>, ingrese su correo electrónico y siga las instrucciones.
        Si no tiene credenciales solicitarlas enviando un correo a
        <address><a href="mailto:{{support}}">{{support}}</a></address>.
        </p>
        <h3>Consolidación somos todos!!</h3>
        <h4>Bendiciones!</h4>

        <h2><ins>Mateo 28:19-20</ins></h2>
        <p><i>19 Por tanto, id, y haced discípulos a todas las naciones, <br>
        bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo;<br>
        20 enseñándoles que guarden todas las cosas que os he mandado; <br>
        y he aquí yo estoy con vosotros todos los días, hasta el fin del mundo. Amén.</i></p>


    </body>
</html>