<!DOCTYPE html>
<html>
    <body>
        <h2>Bendiciones!</h2>
        {{usuario}} creo al creyente: {{creyente}}.</p>

        <ul><h4>Información General:</h4>
            <li>Teléfonos: {{tel}} - {{cel}} - {{otro}}</li>
            <li><a href='{{link}}detalles_creyente?id={{id}}'>Detalles.</a></li>
        </ul>

        <h3>Consolidación somos todos!!</h3>

        <h4><ins>Romanos 12:21</ins></h4>
        <p><i>21 No seas vencido de lo malo, sino vence con el bien el mal.</i></p>
    </body>
</html>