<!DOCTYPE html>
<html>
    <body>
        <p>{{consolidador}}, le hemos asignado a {{creyente}} para que usted le de seguimiento.<br>
        Los números de contacto de esta persona son:</p>
        <ul>
            <li>{{tel}}</li>
            <li>{{cel}}</li>
            <li>{{otro}}</li>
        </ul>

        <p>{{creyente}} vive en: <address>{{direccion}}</address>.<br>
        Cualquier información adicional sobre el creyente, puede consultarla en<br>
        la página de los <a href='{{link}}detalles_creyente?id={{id}}'>Detalles.</a>
        Tenga en consideración que el personal<br>de consolidación estará contactandole,  a travez de WhatsApp, Telegram<br>
        o una llamada, desde el número: <a href='tel:829-748-2766'>{{num_consolidacion}}</a>, esto para confirmar<br>
        que usted llamó al creyente antes de 24 horas para coordinar la visita<br>antes de las 36 horas</p>

        <p>Recuerde que puede ver su información y creyentes asignados en la <a href='{{link}}inicio'>Página de Consolidacion.</a><br>
        En caso que no recuerde sus credenciales o que no las tenga, favor enviar un correo a:
        <address><a href="mailto:{{support}}">{{support}}</a>.</p></address>.</p>

        <h3>Consolidación somos todos!!</h3>
        <h4>Bendiciones!</h4>

        <h2><ins>Mateo 28:19-20</ins></h2>
        <p><i>19 Por tanto, id, y haced discípulos a todas las naciones, <br>
        bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo;<br>
        20 enseñándoles que guarden todas las cosas que os he mandado; <br>
        y he aquí yo estoy con vosotros todos los días, hasta el fin del mundo. Amén.</i></p>


    </body>
</html>