<!DOCTYPE html>
<html>
    <body>
        <p>{{consolidador}}, su usuario de Consolidacion ha sido creado.</p>


        <p>Por favor visite el siguiente link para acceder: <a href="{{link}}">Consolidación</a>.<br>
        Para reportar sugerencias o inconvenientes con la herramienta, recuerde enviar un<br>
        correo con la imagen o comentario correspondiente, a la siguiente dirección:
        <address><a href="mailto:{{support}}">{{support}}</a>.</p></address>


        <p>También puede comunicarce con el personal de consolidación<br>
        a través de WhatsApp o Telegram, al número <a href='tel:829-748-2766'>{{numero}}</a>.</p>

        <p>Su información para iniciar sesión es:</p>
        <ul>
            <li>Usuario: {{usuario}}</li>
            <li>Clave: {{clave}}</li>
        </ul>

        <p>Después, se le estará enviando una notificación para cambiar la clave."</p>

        <h3>Consolidación somos todos!!</h3>
        <h4>Bendiciones!</h4>

        <h2><ins>Mateo 28:19-20</ins></h2>
        <p><i>19 Por tanto, id, y haced discípulos a todas las naciones, <br>
        bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo;<br>
        20 enseñándoles que guarden todas las cosas que os he mandado; <br>
        y he aquí yo estoy con vosotros todos los días, hasta el fin del mundo. Amén.</i></p>

    </body>
</html>