<!DOCTYPE html>
<html>
    <body>
        <h1>Favor Reportar Seguimiento</h1>
        <p>{{consolidador}}, a continuación un listado de los creyentes que tiene asignados:</p>
        <ul><h4><a href="{{link}}inicio">Listado General</a></h4>
            {% for creyente in creyentes%}
                <li><h5>{{creyente}}</li></h5>
            {% endfor %}
        </ul>

        <p>Tenga en consideración que el personal de consolidación estará contactandole 
            a travez de WhatsApp, Telegram o una llamada,<br>
        esto para confirmar que se le esta dando el seguimiento correspondiente a cada persona que usted tiene asignada.</p>

        <p>Recuerde que puede ver su información y creyentes asignados en la <a href='{{link}}inicio'>Página de Consolidación.</a><br>
        En caso que no recuerde sus credenciales o que no las tenga, favor enviar un correo a:
        <address><a href="mailto:{{support}}">{{support}}</a>.</p></address>.</p>

        <h3>Consolidación somos todos!!</h3>
        <h4>Bendiciones!</h4>

        <h2><ins>Mateo 28:19-20</ins></h2>
        <p><i>19 Por tanto, id, y haced discípulos a todas las naciones, <br>
        bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo;<br>
        20 enseñándoles que guarden todas las cosas que os he mandado; <br>
        y he aquí yo estoy con vosotros todos los días, hasta el fin del mundo. Amén.</i></p>


    </body>
</html>