<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</style>

<h4>Lucas 15:7 Reina-Valera 1960 (RVR1960)</h4>
<p>7 Os digo que así habrá más gozo en el cielo por un pecador que se arrepiente, que por noventa y nueve justos que no necesitan de arrepentimiento.</p>

<h3>Lista Semanal Nuevos Creyentes</h3>
<h5>Total Desde {{fecha}}: {{lista.count|stringformat:'i'}}</h5>
<table style="border: 1px solid black">
	<thead>
		<tr style="border: 1px solid black">
			<th style="border: 1px solid black">Nombre</th>
			<th style="border: 1px solid black">Consolidador</th>
			<th style="border: 1px solid black">Contacto</th>
		</tr>
	</thead>
	{% for creyente in lista %}
	<tbody>
			<tr style="border: 1px solid black">
				<td style="border: 1px solid black"><a href="{{link}}detalles_creyente/?id={{creyente.id|stringformat:'i'}}">{{creyente.nombre}}</a></td>
				    {% if creyente.consolidador == None %}
				    <td style="border: 1px solid black; color: red">
				        Sin Asignar
				    </td>
				    {% else %}
				    <td style="border: 1px solid black">
				        {{creyente.consolidador}}
				    </td>
				    {% endif %}
				</td>
				<td style="border: 1px solid black">
					{% if creyente.telefono and creyente.telefono != '8090000000'%}
						{{creyente.telefono}},
					{% endif %}
					{% if creyente.celular  and creyente.celular != '8090000000'%}
						{{creyente.celular}},
					{% endif %}
					{% if creyente.otro  and creyente.otro != '8090000000'%}
						{{creyente.otro}}
					{% endif %}
				</td style="border: 1px solid black">
			</tr>
	</tbody>
	{% endfor %}
</table>

<p><a href="{{link}}login">Iniciar Sesión</a></p>

<p>Cualquier sugerencia o inconveniente que se presente, enviar un correo a: </p>
<address><a href="mailto:{{support}}">{{support}}</a></address>

<h3>Consolidación Somos Todos!!</h3>
