<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

<h3>Dios Le Bendiga !</h3>
<h4>Mateo 28:19-20 Reina-Valera 1960 (RVR1960)</h4>
<p>19 Por tanto, id, y haced discípulos a todas las naciones, bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo;
	20 enseñándoles que guarden todas las cosas que os he mandado; y he aquí yo estoy con vosotros todos los días, hasta el fin del mundo. Amén.</p>
<h3>Consolidación</h3>
<p>Una vez una persona acepta a Jesús en el corazón, se comienza un proceso que se denomina “Consolidación”.</p>
<p>A la persona se le asignada un consolidador primario el cual debe:</p>
<ul>
	<li>Llamar antes de las 24 horas</li>
	<li>Visitar antes de las 72 horas</li>
	<li>Velar que esta persona asista a los servicios</li>
</ul>
<p>Esta primera etapa se toma de 2 a 3 semanas donde el consolidador primario deberá darle este seguimiento semanal<br>
(Llamadas, Visitas, Asistencia a los servicios), además de validar que la información capturada en el sistema sea la correcta,<br>
completar cualquier información que crea pertinente y de ser posible, tomarle una foto al nuevo creyente.<br>
Siempre teniendo presente impartir estudios bíblicos.</p>
<p>Después de esto, pasa a una segunda etapa donde se le asigna un consolidador secundario, el cual puede ser el mismo consolidador primario u otro diferente.</p>
<p>En esta segunda etapa, el consolidador asignado debe seguir con las exhortaciones de la palabra y debe asegurarse<br>
que esta persona, entre otras cosas: asista a la Universidad de la Vida, Encuentro, Doctrina, Bautismo y Reencuentro.</p>
<p>Es importante tener presente que al momento de asignarle un consolidador a un nuevo creyente se toma en cuenta lo siguiente:<br>
<ul>
	<li>Sexo = Masculino o Femenino</li>
	<li>Estado Civil = Soltero, Casado, Unión Libre, Divorciado, Viudo</li>
	<li>Etapa:
		<table style="border: 1px solid black;">
			<tr style="border: 1px solid black;">
				<th style="border: 1px solid black;">Edad Desde</th>
				<th style="border: 1px solid black;">Edad Hasta</th>
				<th style="border: 1px solid black;">Etapa</th>
			</tr>
			<tr style="border: 1px solid black;">
				<td style="border: 1px solid black;">menos</td>
				<td style="border: 1px solid black;">12</td>
				<td style="border: 1px solid black;">Pre-Adolecente</td>
			</tr>
			<tr style="border: 1px solid black;">
				<td style="border: 1px solid black;">13</td>
				<td style="border: 1px solid black;">17</td>
				<td style="border: 1px solid black;">Adolecente</td>
			</tr>
			<tr style="border: 1px solid black;">
				<td style="border: 1px solid black;">18</td>
				<td style="border: 1px solid black;">24</td>
				<td style="border: 1px solid black;">Joven</td>
			</tr>
			<tr style="border: 1px solid black;">
				<td style="border: 1px solid black;">25</td>
				<td style="border: 1px solid black;">35</td>
				<td style="border: 1px solid black;">Adulto Joven</td>
			</tr>
			<tr style="border: 1px solid black;">
				<td style="border: 1px solid black;">36</td>
				<td style="border: 1px solid black;">60</td>
				<td style="border: 1px solid black;">Adulto</td>
			</tr>
			<tr style="border: 1px solid black;">
				<td style="border: 1px solid black;">61</td>
				<td style="border: 1px solid black;">mas</td>
				<td style="border: 1px solid black;">Anciano</td>
			</tr>
		</table>
	</li>
	<dl></dl>
	<p>
	<i>Lo ideal es que estas fechas siempres esten en verde. Si usted llamó o visitó y la fecha esta en rojo o amarillo,<br>
	entre al perfil de la persona y en la parte de "Información de Seguimiento" elija la cantidad de dias en la que volverá<br>
	a llamar o visitar al nuevo creyente.</i>
	</p>
</ul>

<p>Sabiendo esto, le invitamos a <a href="{{link}}login">Iniciar Sesión</a> y prodrá encontrar una lista de los creyentes asignados,
	verificar la información y editarla de ser necesario.</p>
<p>Su usuario es: <strong>{{usuario.username}}</strong> y su clave temporal es: 1234</p>
<p>Esté pendiente a los correos informativos que estaremos enviando con relación a los pasos para: actualizar las fechas,
	editar información personal, editar información de un nuevo creyente, y más.<br>Cualquier sugerencia o inconveniente que se presente,
	enviar un correo a:</p> <address><a href="mailto:{{support}}">{{support}}</a></address>
<h3>Consolidación no es un grupo o un ministerio, Consolidación Somos Todos!!</h3>