*
{
    margin: 0;
    padding: 0;

}

body
{
    font-family: 'Poppins', sans-serif;
}

.navbar-custom
{
    background-color: var(--main-bg-color) !important;
    filter: alpha(opacity=50);
    width: 100%;
    top: 0;
    Z-index :999;
    border: 0;
    border-radius: 0;
}

.navbar-custom .navbar-nav a
{
    color: #000!important;
    font-size: 17px;
}

.navbar-custom .navbar-nav a:hover
{
    color: var(--secondary-color) !important;
    font-weight: bold;
}

.dropdown-menu {
    background-color: var(--main-bg-color);
}

.dropdown-item:hover {
    background-color: var(--main-bg-color);
    color: var(--secondary-color) !important;
    font-weight: bold;
}


.navbar-custom .navbar-nav .dropdown-menu a{
    color: white!important;
}

.navbar-brand img
{
    height: 20px;
}
.hero
{
    text-align: center;
    transform: translate(0,0);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius:50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.space
{
    margin-bottom: 10px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.bg-light
{
    background-color: #f9f9f9;
}

section
{
    padding: 40px;
}
footer{
    background-color: var(--main-bg-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

/**Sub Navigation**/
.subnavigation-container{
    background: #3d6277;
}
.subnavigation .nav-link{
    color: white;
    font-weight: bold;
}
.subnavigation-container{
    text-align: center;
}
.subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
}
.col-subnav .active{
    border-top:5px solid var(--secondary-color);
    background: white;
    color: black;
}
.social {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}
.social a {
    position: relative;
    display: inline-block;
    min-width: 40px;
    padding: 10px 0px;
    margin: 0px 5px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(215, 215, 215);
    border-radius: 40px;
}

a.social-icon {
    text-decoration: none !important;
    box-shadow: 0px 0px 1px rgb(51, 51, 51);
    box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
}
a.social-icon:hover {
    color: rgb(255, 255, 255) !important;
}
a.facebook {
    color: rgb(59, 90, 154) !important;
}
a.facebook:hover {
    background-color: rgb(59, 90, 154) !important;
}
a.google-plus {
    color: rgb(244, 94, 75) !important;
}
a.google-plus:hover {
    background-color: rgb(244, 94, 75) !important;
}
