@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  font-family: Lato, sans-serif;
  margin: 0;
  z-index: 1;
}

.credit a {
  display: inline-block;
  color: #000;
  -webkit-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
  padding: 15px 10px;
}

.credit a:hover {
  color: blue;
}

.container {
  width: 100%;
  height: 100%;
}

#background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  margin: 70px 20px 20px 20px;
  background: var(--table-bg-color);
  border-radius: 25px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 100px 0 0 0;
  -webkit-box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  box-shadow:
          rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px,
          rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px,
          rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.colorband {
  height: 2px;
  background-image: -o-linear-gradient(315deg, #667eea 0%, #764ba2 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#667eea),
    to(#764ba2)
  );
  background-image: linear-gradient(to right, #667eea 0%, #764ba2 100%);
}

.card h3 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
.card .title {
  padding: 0 1rem 1rem;
  font-size: 0.75em;
  text-align: center;
}
.card .desc {
  padding: 1rem 2rem;
  font-size: 0.9em;
}

.card .actions {
  -webkit-transition: -webkit-box-shadow 300ms ease;
  transition: -webkit-box-shadow 300ms ease;
  -o-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.card:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.actions a {
  width: 100%;
  float: left;
  background: transparent;
  border: none;
  padding: 1rem;
  font-size: 1em;
  -webkit-transition: background 300ms ease, -webkit-transform 300ms ease;
  transition: background 300ms ease, -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease, background 300ms ease;
  transition: transform 300ms ease, background 300ms ease;
  transition: transform 300ms ease, background 300ms ease,
    -webkit-transform 300ms ease;
  outline: none;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.actions a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-image: -o-linear-gradient(left, #43e97b 0%, #38f9d7 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#43e97b),
    to(#38f9d7)
  );
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  color: #fff;
  border: none;
  z-index: 100;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.actions a:last-child:hover {
  background-image: -o-linear-gradient(left, #f97538 0%, #f93e38 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e9c543),
    to(#f97538)
  );
  background-image: linear-gradient(to right, #f97538 0%, #f93e38 100%);
}

.actions a:nth-last-child(2):hover {
  background-image: -o-linear-gradient(left, #f9df38 0%, #f97538 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f9df38),
    to(#f97538)
  );
  background-image: linear-gradient(to right, #f9df38 0%, #f97538 100%);
}

.actions a:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.actions a > span {
  display: block;
}

.avatar {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.avatar:hover {
  -webkit-transform: translateX(-50%) scale(1.1);
  -ms-transform: translateX(-50%) scale(1.1);
  transform: translateX(-50%) scale(1.1);
}

.avatar svg {
  width: 100%;
}
