:root {
    --main-bg-color: #1382EB;
    --secondary-color: #ff6c00;
    --main-border-color: #024685;
    --main-altbg-color: rgba(19, 183, 235, 0.7);
    --main-font-color: black;
    --btn-bg-color: #022F59;
    --on-hover-font-color: white;
    --table-bg-color: rgba(114, 189, 242, 0.93);
}

body {
    background: url('/static/resource/main-bg-img.jpg') no-repeat fixed center;
}

.login-container {
    margin-top: 8rem;
    background-color: var(--main-altbg-color);
    padding: 20px;
}

#form-login > input {
    margin-left: 10px;
    margin-top: 3px;
}

#form-errors {
    margin-top: 10px;
    font-size: 1px;
}

.centerme {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 15%;
    height: 15%;
    opacity: 0.8;
}

.centerme p {
    margin-top: 4%;
}

.navbar, .navbar-header, #my-nav-bar, #my-nav-bar li,
#my-nav-bar li a, #my-nav-bar li div {
    background: var(--main-bg-color) none;
    border-color: var(--main-border-color) !important;
	color: black;
}
#my-nav-bar li {
    padding-top: 5px;
}
#my-nav-bar li a:hover {
    background-color: var(--main-border-color);
    color: var(--on-hover-font-color);
}

.container-fluid > .row {
    margin-top: 3em;
    padding: 3em;
}

.main-body-content {
    margin-top: 8em;
}

.consolidador-card {
    margin-top: 5px;
}

.profile-pic {
    height: 155px;
    max-height: 155px;
    width: 155px;
    max-width: 155px;
    margin: auto;
}

.actual-foto {
    border: 0.4rem solid black;
}

.row > p.badge-pill {
    color: white;
    background-image: linear-gradient(var(--main-altbg-color), var(--btn-bg-color));
}

.row > p.badge-pill a {
    color: white;
}

#result-list-details {
    width: auto;
    background-color: var(--table-bg-color);
    margin: 2rem auto;
    border-radius: 1em;
}

.custom-form {
    margin: auto;
    width: 40%;
    background-color: var(--table-bg-color);
}