/* esto ayuda a que por de bajo de 580px la tabla se ajuste a modo lista
y muestre un campo de bajo de otro */
@media screen and (max-width: 580px){
	.table-plantilla th, .table-plantilla td{
		font-size: 18px;
		display: block;
		text-align: center
	}

	table {
		table-layout: fixed;
		width: 100%;
	}

	.lista {
		display: table-row-group;
		font-size: 12px;
		width: auto;
	}
}

/* Si la pantalla es menor de 715px */
@media screen and (max-width: 637px) {
	.error{ background: #57d283;}
	.hide-500 { display: none; } /*Esconde algunos campos de la tabla no tan necesarios*/
	.buscar {
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}
	.buscar input {
		margin-top: 5%;
	}

	div.table-container, div.table-plantilla {
		/*text-overflow: wrap;*/
		/* overflow-x: auto;
		margin: auto; */
	}

	input, textarea{
		width: 98.5%;
	}

	h2, h3 {
		background: #57d283;
	}

	.herramientas{
		margin-left: -95px;
	}
	.herramientas:hover{
		margin-left: 0;
	}
	.main-list{
		padding: 5px;
		padding-right: 14px;
		display: block;
		margin-top: 0;
		margin-bottom: 0;
	}

	.main-list>li{
		padding-left: 0;
  		padding-right: 0;
  		margin-left: 0;
	}

	#drop>a{
		padding-right: 10px;
	}

	#drop:after{
		content: "\25B6";
		margin-left: 10px;
		font-size: .7em;
	}

	#drop:hover>.hidden {
		margin-left: 97%;
		top: 5px;
	}

	.main-list>li:nth-child(5){
		font-size: 14px;
	}
	.hidden, #inner-hide {
		padding: 0;
		margin: 0;
	}

	#flyout ul{
		left: 0;
	}

	.consolidadoresDisponibles {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 800px) {
	.hide-700{
		display: none;
	}
}

@media screen and (min-width: 708px){
	.main-list>li:nth-child(1){
		margin-left: -2.5%;
	}

	.herramientas {
		width: 100%;
		margin-left: -10px;
		display: block;
	}

	.header {
		margin-bottom: 100px;
	}
}