<p id="{{ popup_id }}"
   onclick="this.style.display = 'none'"
   class="help-block text-muted small"
   style="display: none;">
    <span><img src="/static/icons/glyphicons-196-info-sign.png" alt=""></span>
    Después de seleccionar la fecha, presione el botón "Actualizar"
</p>