<li class="list-group-item">
    <i class="bi bi-whatsapp"></i>
    {% include 'includes/info/ws_cell_phone_tag.html' with number=subject.celular %}
</li>
<li class="list-group-item">{{ subject.telefono }}</li>
<li class="list-group-item">{{ subject.otro }}</li>
<li class="list-group-item">{{ subject.email }}</li>