<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<html>
    <head>
        <title>Contactanos</title>
    </head>
    <body>
        <h1>Ponte En Contacto Con Nosotros</h1>

        {% if form.errors %}

            <p style="color: red;">Por favor corrige o completa la siguiente información</p>

        {% endif %}



        <form action="" method="post">{% csrf_token %}
            <div class="field">
                {{ form.nombre.errors }}
                <label for="id_nombre">Nombre:</label>
                {{ form.nombre }}
            </div>
            <div class="field">
                {{ form.telefono.errors }}
                <label for="id_telefono">Teléfono Principal:</label>
                {{ form.telefono }}
            </div>
            <div class="field">
                {{ form.direccion.errors }}
                <label for="direccion">Dirección:</label>
                {{ form.direccion }}
            </div>
            <div class="field">
                {{ form.email.errors }}
                <label for="id_email">E-mail:</label>
                {{ form.email }}
            </div>
            <div class="field">
                {{ form.mensaje.errors }}
                <label for="id_mensaje">Mensaje:</label>
                {{ form.mensaje }}
            </div>


            <input type="submit" value="Enviar">
        </form>
    </body>
</html>

<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }

    div.field {

        margin: 5;
        padding: 5;
    }

</style>
