{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

{% block content %}
<h3 align="center">{{advertencia}}</h3><br>
<h4 align="center">Intentelo de Nuevo</h4>
{% endblock %}
