{% extends "base.html" %}
{% load etiquetas %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
Células
{% endblock%}
{% block content %}


<table class="table table-responsive table-striped table-bordered">
    <h2 class="text-center">Listado de Células</h2>
    {% if aviso %}<h4>{{aviso}}</h4>{% endif %}
    <p class="text-center">Total: {{object_list.count}}
        {% if q %}
        Resultado{{ object_list|length|pluralize}}
        Encontrado{{ object_list|length|pluralize}} Con: <strong>"{{ q }}"</strong> ...
        {% endif %}
    </p>
    <tr>
        <th>Lider De Célula</th>
        <th>Ubicación</th>
        <th>Frecuencia</th>
        <th>Asistiendo</th>
    </tr>
    {% for celula in object_list %}
    <tr>
        <td><a href='/detalles_celula/?id={{celula.id}}'>{{ celula.consolidador }}</a></td>
        <td>{{ celula.address}}</td>
        <td>Los {{ celula.dia}} a las {{ celula.hora|time:'h:i a'}}, reuniones {{ celula.frecuencia}}</td>
        <td>
            {{ celula.id|totalCreyentes:True}} Persona{{ celula.id|totalCreyentes:True|pluralize }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
