{% extends "base.html" %}
{% load etiquetas %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
    Consolidadores
{% endblock%}
{% block content %}

    <div class="container">
        <canvas id="background"></canvas>
        {% include 'table_list_resume.html' %}
        <div class="row">
            {% for consolidador in object_list %}
                <div class="card col-md-4">
                    <div class="avatar">
                        {% if consolidador.foto %}
                            <img src="{{ consolidador.foto.url }}" alt="sin foto" class="card-img-top rounded-circle profile-pic actual-foto"/>
                        {% else %}
                            <img src="/static/resource/{{consolidador.sexo}}.png" alt="sin foto" class="card-img-top rounded-circle profile-pic"/>
                        {% endif %}
                    </div>
                    <div class="header">
                        <h3>{{ consolidador.nombre|truncatechars:16 }}</h3>
                        <div class="title">Líder: {{ consolidador.leader.nombre }}</div>
                    </div>
                    <div class="colorband"></div>
                    <div class="desc">
                        <i class="bi bi-phone"></i> {{ consolidador.cel }}
                        <br />
                        <i class="bi bi-telephone"></i> {{ consolidador.telefono }}
                        <br />
                        <i class="bi bi-envelope"></i> {{ consolidador.email }}
                    </div>
                    <div class="colorband"></div>
                    <div class="actions">
                        <a class="btn {% if consolidador.id|totalCreyentes == 0 %}disabled{% endif %}" href="{% url 'ver_creyentes' %}?idc={{consolidador.id}}">Creyentes: {{consolidador.id|totalCreyentes}}</a>
                        <a class="btn {% if consolidador.id|totalConsolidadores == 0 %}disabled{% endif %}" href="{% url 'ver_consolidadores' %}?idc={{consolidador.id}}">Consolidadores: {{consolidador.id|totalConsolidadores}}</a>
                        <a class="btn" href="{% url 'lideres-disponibles' pk=consolidador.id %}">Cambiar Líder</a>
                        <a class="btn {% if request.user|has_group:"ministerio" or request.user.is_staff or request.user.first_name == consolidador.leader.nombre %}{% else %}disabled{% endif %}" href="{% url 'actualizar-consolidador' pk=consolidador.pk %}">Editar</a>
                        <a class="btn {% if consolidador.nombre|is_leader %}disabled{% endif %}" href="{% url 'promover_consolidador' nombre=consolidador.nombre %}">Es Líder</a>
                        <a class="btn {% if consolidador.email|is_user %}disabled{% endif %}" href="{% url 'crear-usuario' pk=consolidador.pk %}">Crear Usuario</a>
                        <a class="btn {% if request.user|has_group:"ministerio" or request.user.is_staff %}{% else %}disabled{% endif %}" href="{% url 'deactivate-consolidador' pk=consolidador.pk %}">Desactivar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'paginator.html' %}
    </div>


{% endblock %}
