{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

{% block titulo %}
    Creyente Consolidado
{% endblock %}
{% block content %}
    <div class="row">
        <div id="result-list-details" class="text-center">
            <p><a href="/detalles_creyente/?id={{creyente.id}}">
                {{creyente.nombre}}</a> fue consolidado de manera exitosa.
            </p>
            <p>El Consolidador responsable fue:
                <a href="/detalles_consolidador/?id={{creyente.consolidador_id}}">
                    {{consolidador}}</a></p>
            <label>{{creyente.nota}}</label>
        </div>
    </div>

{% endblock %}	