{% extends "base.html" %}
{% load etiquetas %}
{% load static %}

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

{% block titulo %}
	Creyentes
{% endblock %}
{% block content %}

{% if agrupar == "consolidador" %}
	{% regroup object_list by consolidador as new_list %}
{% endif %}
{% if agrupar == "fecha_culto" %}
    {% regroup object_list by fecha_culto as new_list %}
{% endif %}
{% if agrupar == "actividad" %}
    {% regroup object_list by actividad as new_list %}
{% endif %}
{% if agrupar == "sexo" %}
    {% regroup object_list by sexo as new_list %}
{% endif %}
{% if agrupar == "estado_civil" %}
    {% regroup object_list by estado_civil as new_list %}
{% endif %}

{% include "group_by.html" %}

<div class="panel panel-success" id="group-table-container">
	<div class="panel-heading">
		<h4 class="text-center">
			Creyentes Agrupados por {{agrupar|title}}
			<button class="btn btn-primary btn-xs hidden-xs" data-toggle="collapse" data-target=".collapse">
				<span class="glyphicon glyphicon-fullscreen"></span>
			</button>
		</h4>
	</div>
	<table class="table table-fixed table-bordered">
		<tr>
			<th>Nombre</th>
			<th class="hidden-xs">Contactos</th>
			<th>Consolidador</th>
			<th colspan="4" align="center">Status</th>
		</tr>
		{% for creyente_list in new_list %}
		<tr style="margin-top: 1em;">
			<td data-toggle="collapse" data-target=".{{creyente_list.grouper|cut:' '|cut:'-'}}" colspan="7" class="bg-success accordion-toggle">
				<button class="btn btn-primary btn-ms">
					<span class="glyphicon glyphicon-eye-open"></span>
					{{creyente_list.list|length}} Agrupados en {{creyente_list.grouper}}
				</button>
			</td>
		</tr>
		<tbody class="hiddenRow">
		{% for creyente in creyente_list.list %}
			<tr class="accordian-body collapse in {{creyente_list.grouper|cut:' '|cut:'-'}}">
				<div>
					<td><a href="/detalles_creyente/?id={{creyente.id}}">{{ creyente.nombre }}</a></td>
					<td class="hidden-xs">{{ creyente.telefono }} - {{ creyente.celular }}</td>
					<td>
						{% if creyente.consolidador == None %}
							<p>Sin Asignar</p>
                        {% else %}
    						<a href="/detalles_consolidador/?id={{creyente.consolidador_id}}">1. {{ creyente.consolidador }}</a>,
						{% endif %}
					</td>
					<td><a href="/creyente/{{creyente.id}}/editar"><span class="glyphicon glyphicon-edit"></span></a></td>
				</div>
			</tr>
		{% endfor %}
		</tbody>
		{% endfor %}
	</table>
</div>

<h4 class="txtShow">
	{% if aviso %}
		{{aviso}} <br>
	{% endif %}
</h4>
{% endblock %}