{% extends "base.html" %}
{% load etiquetas %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
    Creyentes
{% endblock %}

{% block content %}
    <div class="container">
        <canvas id="background"></canvas>
        {% include 'table_list_resume.html' %}
        <div class="row">
            {% for creyente in object_list %}
                <div class="card col-4">
                    <div class="avatar">
                        {% if creyente.foto %}
                            <img src="{{ creyente.foto.url }}" alt="sin foto" class="card-img-top rounded-circle profile-pic actual-foto"/>
                        {% else %}
                            <img src="/static/resource/{{creyente.sexo}}.png" alt="sin foto" class="card-img-top rounded-circle profile-pic"/>
                        {% endif %}
                    </div>
                    <div class="header text-center">
                        <h3>{{ creyente.nombre|truncatechars:16 }}</h3>
                        <div class="title">Consolidador: {% include 'info/id_name_a_tag.html' with subject=creyente.consolidador %}</div>
                        <span class="badge badge-pill badge-{% if creyente.status == 'CONSOLIDATED' %}success{% else %}secondary{% endif %}">Consolidado</span>
                        <span class="badge badge-pill badge-{% if creyente.status == 'PROMOTED' %}primary{% else %}secondary{% endif %}">Es Consolidador</span>
                    </div>
                    <div class="colorband"></div>
                    <div class="desc">
                        <i class="bi bi-whatsapp"></i>
                        {% include 'includes/info/ws_cell_phone_tag.html' with number=creyente.celular %}
                        <br />
                        <i class="bi bi-telephone"></i> {{ creyente.telefono }}
                        <br />
                        <i class="bi bi-telephone-fill"></i> {{ creyente.otro }}
                    </div>
                    <div class="colorband"></div>
                    <div class="actions">
                        <a class="btn {% if creyente.status == 'CONSOLIDATED' %}disabled{% endif %}" href="{% url 'consolidadores-disponibles' pk=creyente.id %}">Cambiar Consolidador</a>
                        <a class="btn {% if request.user|has_group:"ministerio" or request.user.is_staff or request.user.first_name == creyente.consolidador.nombre %}{% else %}disabled{% endif %}" href="{% url 'actualizar-creyente' pk=creyente.pk %}">Editar</a>
                        <a class="btn {% if creyente.status == 'PROMOTED' %}disabled{% endif %}" href="{% url 'promover_creyente' nombre=creyente.nombre %}">Es Consolidador</a>
                        <a class="btn {% if creyente.status == 'CONSOLIDATED' %}disabled{% endif %}" href="{% url 'fue-consolidado' pk=creyente.pk %}">Consolidado</a>
                        <a class="btn {% if creyente.status == 'CONSOLIDATED' %}disabled{% endif %}" href="{% url 'dar-de-baja' pk=creyente.pk %}">Dar Baja</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'paginator.html' %}
{% endblock %}