{% extends "base.html" %}
{% load static %}
{% load etiquetas %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
    Creyente Agregado
{% endblock titulo %}
{% block content %}
    <div class="row">
        <div id="result-list-details" class="text-center">
            <a class="btn btn-xs btn-success" href="{% url 'add_creyente' %}">Agregar Creyente Nuevo</a>
            <h2>Creyente Agregado Satisfactoriamente</h2>
            <p>{% include 'info/id_name_a_tag.html' with subject=creyente  %} Fue agregado a la base de datos.</p>
            <p>Comunicarle a
                <a href={% url 'buscar_consolidador' %}?q={{creyente.consolidador.nombre}}>
                    {{creyente.consolidador}}</a> que debe darle seguimiento</p>
            <p>En la mayor brevedad posible: </p>
            <ul class="list-group">
                <li class="list-group-item active">Información de Contacto</li>
                {% include 'info/contact_as_li.html' with subject=creyente  %}
            </ul>
        </div>
    </div>

{% endblock %}
