{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

{% block titulo %}
	De Baja
{% endblock %}
{% block content %}
	{% if creyente %}
	<div class="contactar">
		<p>A <a href="/detalles_creyente/?id={{creyente.id}}">
		{{creyente.nombre}}</a> Ya no se le esta dando seguimiento.
		</p>
        <p>Para mas información ver las notas o preguntarle a
        <a href="/detalles_consolidador/?id={{creyente.consolidador_id}}">
        {{consolidador}}</a> cual fue la situación.</p>
        <label>{{creyente.nota}}</label>
{% endif %}
	</div>
	
{% endblock %}	
