{% extends "base.html" %}
{% load etiquetas %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

{% block titulo %}
	Enviar E-Mail
{% endblock%}


{% block content %}
<h1>Mail Enviado</h1>

<h3>{{consolidador.email}}</h3>

{% endblock %}