{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

{% block titulo %}
	De Baja
{% endblock %}
{% block content %}
<div class="col-sm-4"></div>
<div class="debaja col-sm-4">
	<form action="/dar_baja/creyente/debaja/{{creyente.id}}/" method="post">
	{% csrf_token %}
		<label for="razon">Seleccionar Una Razón General:</label>
		<select class="form-control" name="razon" id="razon" required>
			<option></option>
			{% for option in razones %}
			<option name="razon" value="{{option.id}}">{{option.razon}}</option>
			{% endfor %}
		</select>
        <br>
        <br>
		<p><strong>Últimos comentarios de {{creyente.consolidador}}:</strong></p>
        <div style="overflow-y: scroll; max-height: 500px">
            <textview>{{nota}}</textview>
        </div>
        <br>
        <h3>Comentario Adicional:</h3>
        <div class="form-group">
            <textarea class="form-control" name="nota"></textarea>
        </div>

	<br><input class="btn btn-danger" type="submit" value="Dar de baja">
	</form>
</div>
<div class="col-sm-4"></div>
{% endblock %}