{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

{% block titulo %}
	Notificar
{% endblock %}
{% block content %}
	<div class="form-group col-sm-4 col-xs-12">
		<form action="/consolidado/creyente/enviado/{{creyente.id}}/" method="post" role="form">
		{% csrf_token %}
			<label for="nota"><strong>Nota de {{creyente.consolidador}}:</strong></label>
			<textarea class="form-control" name="nota" id="nota" placeholder="Introduzca su mensaje" rows="10"></textarea>
		<br><input class="btn btn-primary" type="submit" value="Guardar">
		</form>
	</div>
{% endblock %}