{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
Mensaje Enviado
{% endblock %}
{% block content %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="text-center">Gracias</h3>
    </div>
    <div class="panel-body text-center">
        <p>Su mensaje ha sido enviado.</p>
        <p>Por favor este pendiente, estaremos comunicandonos con usted</p>
        <p>en la mayor brevedad posible</p>
        <p>Bendiciones!!!</p>
    </div>
    <div class="panel-footer text-center">
        <a class="btn btn-primary" href="/inicio">Volver Al Inicio</a>
    </div>
</div>
{% endblock %}