{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" >

{% block titulo %}
	Buscar
{% endblock %}

{% block content %}
	<div class="col-sm-6 my-5">
    {% if errors %}
        <ul class="error">
            {% for error in errors %}
                <li class="alert alert-warning">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="form-group">
        <form action = "" method="get" class="form-group">
            <div class="input-group">
            <label class="sr-only" for="search">Buscar {{model|title}}</label>
            <input id="search" class="form-control" type="search" name="q"
               placeholder="Buscar {{model|title}} Por Nombre" required>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                  <img src="/static/icons/glyphicons-28-search.png" alt="">Buscar
              </button>
            </span>
            </div>
        </form>
    </div>
  </div>
{% endblock %}

