{% extends "base.html" %}
{% load static %}
{% load etiquetas %}

<!--The next 2 lines after this comment
are in every html files that extends from the base file
although
 -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
{% block titulo %}
    Líderes
{% endblock%}
{% block content %}
    <div class="container">
        <canvas id="background"></canvas>
        {% include 'table_list_resume.html' %}
        <div class="row">
            {% for leader in object_list %}
                <div class="card">
                    <div class="avatar">
                        {% if leader.foto %}
                            <img src="{{ leader.foto.url }}" alt="sin foto" class="card-img-top rounded-circle profile-pic actual-foto"/>
                        {% else %}
                            <img src="/static/resource/{{leader.sexo}}.png" alt="sin foto" class="card-img-top rounded-circle profile-pic"/>
                        {% endif %}
                    </div>
                    <div class="header">
                        <h3>{{ leader.nombre|truncatechars:16 }}</h3>
                        <div class="title">
                            <a class="{% if leader.id|totalConsolidadores == 0 %}disabled{% endif %}" href="{% url 'ver_consolidadores' %}?idc={{leader.id}}">Consolidadores: {{ leader.id|totalConsolidadores }}</a>
                        </div>
                    </div>
                    <div class="colorband"></div>
                    <div class="desc">
                        <i class="bi bi-telephone"></i> {{ leader.cel }}
                        <br />
                        <i class="bi bi-telephone"></i> {{ leader.telefono }}
                        <br />
                        <i class="bi bi-telephone-fill"></i> {{ leader.otro }}
                    </div>
                    <div class="colorband"></div>
                    <div class="actions">
                        <a class="btn" href="{% url 'enviar_listado_lider' pk=leader.pk %}">Enviar Listado de Creyentes <i class="bi bi-reply-all"></i></a>
                        <a class="btn {% if request.user|has_group:"ministerio" or request.user.is_staff or request.user.first_name == leader.consolidador.nombre %}{% else %}disabled{% endif %}" href="{% url 'actualizar-consolidador' pk=leader.pk %}">Editar</a>
                        <a class="btn {% if request.user.is_staff %}{% else %}disabled{% endif %}" href="{% url 'deactivate-consolidador' pk=leader.pk %}">Desactivar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'paginator.html' %}
{% endblock %}