{% extends "base.html" %}
{% load static %}
{% load etiquetas %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
{{consolidador.nombre}}
{% endblock %}
{% block content %}

<div class="col-sm-3"></div>
<div class="col-sm-6">
	<table class="table table-responsive table-bordered">
		<thead>
            <tr>
                <th colspan="3">
                    <div class="text-center">
                        <h2 class="text-center text-{{ message_class }}">{{aviso}}</h2>
                        <h3 class="text-center">
                            {{consolidador|modelo}} -
                            {% include 'info/id_name_a_tag.html' with subject=consolidador %}
                        </h3>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'lideres-disponibles' pk=consolidador.id %}">Cambiar Lider</a>
                            {% if request.user|has_group:"ministerio" or request.user.is_staff or request.user.first_name == consolidador.leader.nombre %}
                            <a class="btn btn-primary" href="{% url 'actualizar-consolidador' pk=consolidador.pk %}">Editar</a>
                            {% endif %}

                            {% if request.user|has_group:"lider" and request.user|has_group:"ministerio" or request.user.is_staff %}
                                {% ifequal consolidador.nombre|is_leader False %}
                                <a class="btn btn-primary" href="{% url 'promover_consolidador' nombre=consolidador.nombre %}">Promover A Líder</a>
                                {% endifequal %}
                                {% ifequal consolidador.email|is_user False %}
                                <a class="btn btn-primary" href="{% url 'crear-usuario' pk=consolidador.pk %}">Crear Usuario</a>
                                {% endifequal %}
                                {% if consolidador.nombre|has_group:"ministerio" == False %}
                                {# When I said "Es Staff" what i really mean is "Es Parte del Ministerio" since staff is another defined groud #}
                                <a class="btn btn-primary" href="{% url 'add-group' pk=consolidador.pk %}">Es Staff</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
		<tr>
			<th rowspan="6">
                {% if consolidador.foto %}
                    <img src="{{ consolidador.foto.url }}" alt="sin foto" />
                {% else %}
                    <img src="/static/resource/{{consolidador.sexo}}.png" alt="sin foto" />
                {% endif %}
            </th>
		</tr>

		<tr>
			<th align="left">Nombre</th>
			<td colspan="3">{{ consolidador.nombre}} </td>
		</tr>
		<tr>
			<th align="left">Etapas</th>
			<td colspan="3">
				<div style="overflow-x: scroll">
					{% for etapas in consolidador.etapas.all %}
					{{etapas}},
					{% endfor %}
				</div>
			</td>
		</tr>
		<tr>
			<th>Telefono</th>
			<td>{{ consolidador.telefono }}</td>
		</tr>
		<tr>
			<th>Celular</th>
			<td>{{ consolidador.cel }}</td>
		</tr>
		<tr>
			<th>Otro</th>
			<td>{{ consolidador.otro }}</td>
		</tr>

		<tr>
			<th>Estados Civiles</th>
			<td colspan="4" style="overflow-x: scroll">
				{% for civiles in consolidador.estados_civiles.all %}
				{{civiles}},
				{% endfor %}
			</td>
		</tr>
		<tr>
			<th>Lider</th>
			<td colspan="4"><a href="/detalles_consolidador/?id={{consolidador.leader_id}}">{{ consolidador.leader }}</a></td>
		</tr>
		<tr>
			<th>Consolidando a</th>
			<td colspan="1">
				{% if consolidador.id|totalCreyentes > 0 %}
				<a href="{% url 'ver_creyentes' %}?idc={{consolidador.id}}">
					{{consolidador.id|totalCreyentes}}
					Persona{{ consolidador.id|totalCreyentes|pluralize }}</a>
					<a href="{% url 'enviar_listado_consolidador' pk=consolidador.pk %}"><img alt="" src="/static/resource/send.png"></a>
				{% else %}
				0 Personas
				{% endif %}
			</td>
			<td colspan="1">
				{% if request.user|check_access_level:'ministerio' %}
				<a href="{% url 'disponibilidad_creyentes' pk=consolidador.pk %}">Asignar mas</a>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>E-Mail</th>
			<td colspan="4" style="overflow-x: scroll">
				<a href='/#'>{{ consolidador.email }}</a>
			</td>
		</tr>
	</table>
</div>
<div class="col-sm-3"></div>
{% endblock %}