{% extends "base.html" %}
{% load static %}
{% load etiquetas %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
	{{lider.nombre}}
{% endblock %}
{% block content %}

<div class="col-sm-3"></div>
<div class="col-sm-6">
	<table class="table table-responsive table-bordered">
		<thead>
            <tr>
                <th colspan="3">
                    <div class="text-center">
                        <h2 class="text-center">{{aviso}}</h2>
                        <h3 class="text-center">
                            {{lider|modelo}} -
                            {% include 'info/id_name_a_tag.html' with subject=lider %}
                        </h3>
                        <div class="btn-group">
                            {% if request.user|has_group:"ministerio" and request.user|has_group:"lider" or request.user.is_staff or request.user.first_name == lider.nombre %}
                            <a class="btn btn-primary" href="/lider/{{lider.id}}/editar">Editar</a>
                            {% endif %}
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
		<tr>
			<th rowspan="6"><img src="/media/{{ lider.foto }}" alt="sin foto" border=1 height=150 width=150 /></th>
		</tr>

		<tr>
			<th align="left">Nombre</th>
			<td colspan="3">{{ lider.nombre}} </td>
		</tr>
		<tr>
			<th>Teléfono</th>
			<td>{{ lider.telefono }}</td>
		</tr>
		<tr>
			<th>Celular</th>
			<td>{{ lider.cel }}</td>
		</tr>
		<tr>
			<th>Otro</th>
			<td>{{ lider.otro }}</td>
		</tr>
		<tr>
			<th>Discípulos</th>
			<td colspan="4">
				{% if lider.id|totalConsolidadores > 0 %}
					<a href='/ver_consolidadores/?idc={{lider.id}}'>{{ lider.id|totalConsolidadores }}
					Persona{{ lider.id|totalConsolidadores|pluralize }}</a>
				{% else %}
					0 Personas
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>E-Mail</th>
			<td colspan="4" style="overflow-x: scroll">
				<a href='/#'>{{ lider.email }}</a>
			</td>
		</tr>
		<tr>
			<th>Enviar Listado de Creyentes</th>
			<td colspan="2">
				<a href={% url 'enviar_listado_lider' lider.id %}><img alt="" src="/static/resource/send.png"></a>
			</td>
		</tr>
	</table>
</div>
<div class="col-sm-3"></div>
{% endblock %}