{% extends "base.html" %}
{% load etiquetas %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1.0">

{% block titulo %}
    {{creyente.nombre}}
{% endblock %}
{% block content %}
    <div class="row" id="result-list-details">
        <div class="col-sm-4">
            {% if creyente.foto %}
                <img class="img-responsive img-circle profile-picture" src="{{ creyente.foto.url }}" alt="sin foto" />
            {% else %}
                <img src="/static/resource/{{creyente.sexo}}.png" alt="sin foto" />
            {% endif %}
            <h1>{{creyente.nombre}}</h1>
            <p>{{creyente.direccion}}</p>
            <p>Consolidador:
                <b>
                {% if creyente.consolidador == None %}
                    <span>Nadie</span>
                {% else %}
                    {% include 'info/id_name_a_tag.html' with subject=creyente.consolidador %}
                {% endif %}
                {% if creyente.razon %}
                    <span class="alert-danger">Por: {{creyente.razon}}</span>
                {% endif %}
                </b>
            </p>
            <a class="btn btn-primary" href="{% url 'buscar_creyente' %}?q={{creyente.nombre}}">Ver Acciones</a>
        </div>
        <div class="col-sm-4">
            <h3>Acerca de</h3>
            <p>{{creyente.nombre}} es un {{creyente.sexo}} {{creyente.estado_civil}} de aproximadamente {{creyente.edad}} años de edad.</p>
            <p>Sus datos fueron tomados un {{ creyente.fecha_culto|calc_dia }}.</p>

            {% if request.user|has_group:"ministerio" or request.user.first_name == creyente.consolidador.nombre or request.user.is_staff  or creyente.consolidador.leader_id == lider_id %}
                <h3>Su información de contacto es</h3>
                <ul>
                    <li><i class="bi bi-whatsapp"></i>{% include 'includes/info/ws_cell_phone_tag.html' with number=creyente.celular %}</li>
                    <li><i class="bi bi-telephone"></i> {{ creyente.telefono }}</li>
                    <li><i class="bi bi-telephone-fill"></i> {{ creyente.otro }}</li>
                    <li><i class="bi bi-envelope"></i> {{ creyente.email }}</li>
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <h3>Registros</h3>
            <div style="overflow-y: scroll; max-height: 200px">
                <textview>{{ creyente.nota|linebreaks }}</textview>
            </div>
            {% if request.user|has_group:"ministerio" or request.user.is_staff or request.user.first_name == creyente.consolidador.nombre %}
                <form class="form-inline" method="post" enctype="multipart/form-data">{%csrf_token%}
                    <fieldset class="input-group">
                        <div class="input-group">
                            <input class="form-control" type="text" name="comment" title="Comentario">
                            <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" formaction="/creyente/{{creyente.id}}/nota/" value="Agregar">
                  </span>
                        </div>
                    </fieldset>
                </form>
            {% endif %}
            <hr>
        </div>
    </div>
{% endblock %}