{% extends "base.html" %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

{% block titulo %}
	Promoción
{% endblock %}
{% block content %}
    {% ifnotequal promovido None %}
    <h1 class="col-sm-12 text-center">{{promovido.nombre}}</h1>
    <div></div>
    {% else %}
    <h1 class="col-sm-12 text-center">Nada</h1>
    {% endifnotequal %}
{% endblock %}