{% extends "base.html" %}
{% load etiquetas %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

{% block titulo %}
	{{model|capitaliza|plural:"es"}}
{% endblock %}

{% block content %}
    
	{% if resultados %}
    	<p>
	        {{ resultados|length }} {{model|capitaliza}}{{ resultados|length|pluralize:"es"}}
	        Encontrado{{ resultados|length|pluralize}}
	        Con: <strong>{{ query }}</strong> ...
    	</p>
    	{% if resultados|length > 20 %}
    		<p><a href="/buscar_{{model}}">Realizar Nueva Búsqueda</a></p>
    	{% endif %}
    	
    	<table class="resultados">{% for resultado in resultados %}
			<tr>
				<td>
					<a href="/detalles_{{model}}/?id={{resultado.id}}">{{ resultado.nombre }}</a>
				<td>
			</tr>
		{% endfor %}</table>
		 
		<div class="rndBtn1"><a href="/buscar_{{model}}">Realizar Nueva Búsqueda</a></div>
	{% else %}

		<p class="error" style="color: red;">No hay resultados Encontrados con el criterio de búsqueda.</p>
		<p></p>
		<div class="rndBtn1"><a href="/buscar_{{model}}/">Intente algo diferente...</a></div>
	
	{% endif %}
{% endblock %}