{% extends "base.html" %}
{% load static %}
{% load etiquetas %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
	Disponibilidad
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-12 my-5">
        <h3 class="text-center">
            {% if aviso %}
			{{aviso}}
			<input class="btn btn-info btn-xs" type=button value="Inténtelo de Nuevo" onClick="history.go(-1);">
	        {% else %}
		    Líderes Disponibles para <a href="{% url 'detalle-consolidador' %}?nombre={{consolidador.nombre}}">{{consolidador.nombre}}</a>:
	        {% endif %}
        </h3>
    </div>
    <hr>
    <div class="col-sm-12 container">
        <form class="form-set-consolidador" method="post" role="form" action="{% url 'asignar-lider' consolidador.id %}">{% csrf_token %}
            <div class="form-group">
                <ul class="list-group">
                    {%for consolidador in lista %}
                    <li class="list-group-item inline" style="background-color: inherit;">
                        <input id="lider" type="radio" value="{{consolidador.id}}" name="lider">
                        <div>
                            <a href="{% url 'detalle-consolidador' %}?id={{consolidador.id}}">{{consolidador.nombre}}</a>
                            <br>
                            <a href="{% url 'ver_consolidadores' %}?idc={{consolidador.id}}">
                                <span class="badge badge-pill badge-default">{{consolidador.id|totalConsolidadores}} Asignado{{ consolidador.id|totalConsolidadores|pluralize }}</span>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <input class="form-control btn btn-primary" id="submit" type="submit" value="Asignar">
	    </form>
    </div>
</div>
{% endblock %}