{% extends "base.html" %}
{% load static %}
{% load etiquetas %}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block titulo %}
    Disponibilidad
{% endblock %}
{% block content %}
    <div class="container">
        <canvas id="background"></canvas>
        <div id="result-list-details">
            <h3 class="text-center">
                {% if aviso %}
                    {{aviso}}
                    <input class="btn btn-info btn-xs" type=button value="Inténtelo de Nuevo" onClick="history.go(-1);">
                {% else %}
                    Consolidadores Disponibles para <a href="{% url 'detalles_creyente' %}?nombre={{creyente.nombre}}">{{creyente.nombre}}</a>:
                {% endif %}
            </h3>
        </div>
        <div class="row">
            {% for consolidador in object_list %}
                <div class="card col-md-2">
                    <div class="avatar">
                        {% if consolidador.foto %}
                            <img src="{{ consolidador.foto.url }}" alt="sin foto" class="card-img-top rounded-circle profile-pic actual-foto"/>
                        {% else %}
                            <img src="/static/resource/{{consolidador.sexo}}.png" alt="sin foto" class="card-img-top rounded-circle profile-pic"/>
                        {% endif %}
                    </div>
                    <div class="header">
                        <h3>{{ consolidador.nombre|truncatechars:16 }}</h3>
                        <div class="title">Líder: {{ consolidador.leader.nombre }}</div>
                    </div>
                    <div class="colorband"></div>
                    <div class="actions">
                        <a class="btn {% if consolidador.id|totalCreyentes == 0 %}disabled{% endif %}" href="{% url 'ver_creyentes' %}?idc={{consolidador.id}}">
                            Creyente{{ consolidador.id|totalCreyentes|pluralize }} Asignado{{ consolidador.id|totalCreyentes|pluralize }} {{consolidador.id|totalCreyentes}}
                        </a>
                        <a class="btn {% if consolidador.id|totalConsolidadores == 0 %}disabled{% endif %}" href="{% url 'ver_creyentes' %}?idc={{consolidador.id}}">
                            Consolidador{{ consolidador.id|totalConsolidadores|pluralize:'es' }} Asignado{{ consolidador.id|totalConsolidadores|pluralize }} {{consolidador.id|totalConsolidadores}}
                        </a>
                        <span></span>
                        <a style="background: var(--main-bg-color)" class="btn" href="{% url 'asignar-consolidador' pk=creyente.pk consolidador_id=consolidador.id %}">Asignar</a>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    {#<div class="row">#}
    {#	<div class="col-sm-12 my-5">#}
    {#        <h3 class="text-center">#}
    {#            {% if aviso %}#}
    {#			{{aviso}}#}
    {#			<input class="btn btn-info btn-xs" type=button value="Inténtelo de Nuevo" onClick="history.go(-1);">#}
    {#	        {% else %}#}
    {#		    Consolidadores Disponibles para <a href="{% url 'detalles_creyente' %}?nombre={{creyente.nombre}}">{{creyente.nombre}}</a>:#}
    {#	        {% endif %}#}
    {#        </h3>#}
    {#    </div>#}
    {#    <hr>#}
    {#    <div class="col-sm-12 container">#}
    {#        <form class="form-set-consolidador" method="post" role = "form" action="{% url 'asignar-consolidador' creyente.id %}">{% csrf_token %}#}
    {#            <div class="form-group">#}
    {#                <ul class="list-group">#}
    {#                    {%for consolidador in lista %}#}
    {#                    <li class="list-group-item inline" style="background-color: inherit;">#}
    {#                        <input id="consolidadores" type="radio" value="{{consolidador.id}}" name="consolidador">#}
    {#                        <div>#}
    {#                            <a href="{% url 'detalle-consolidador' %}?id={{consolidador.id}}">{{consolidador.nombre}}</a>#}
    {#                            <br>#}
    {#                            <a href="{% url 'ver_creyentes' %}?idc={{consolidador.id}}">#}
    {#                                <span class="badge badge-pill badge-default">{{consolidador.id|totalCreyentes}} Asignado{{ consolidador.id|totalCreyentes|pluralize }}</span>#}
    {#                            </a>#}
    {#                        </div>#}
    {#                    </li>#}
    {#                    {% endfor %}#}
    {#                </ul>#}
    {#            </div>#}
    {#            <input class="form-control btn btn-primary" id="submit" type="submit" value="Asignar">#}
    {#	    </form>#}
    {#    </div>#}
    {#</div>#}
{% endblock %}